.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.table-header {
  font-weight: bold;
  font-size: 16px;
  background: lightsteelblue;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.input-field {
  width: 100%;
}

.mat-form-field {
  margin-right: 10px;
}

.submit-button {
  margin-top: 10px;
}
