<div class="equipment-page">
  <!-- Search form -->
  <form class="search-form"
        #searchForm="ngForm"
        (ngSubmit)="onSubmit()"
        novalidate>

    <mat-form-field [appearance]="'outline'"
                    class="input-number">

      <!-- Label for form input -->
      <label>Enter a number:</label>

      <!-- Input field for searching -->
      <input matInput
             type="number"
             id="searchNumber"
             name="searchNumber"
             [(ngModel)]="searchNumber"
             required #selectedNumberInput="ngModel">

      <!-- Error message incase form input is invalid -->
      <mat-error *ngIf="selectedNumberInput.invalid && selectedNumberInput.touched">
        Please enter a number
      </mat-error>
    </mat-form-field>

    <!-- Button for submitting form -->
    <button class="submit-button"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!searchForm.form.valid">
      Search
    </button>
  </form>

  <!-- Table for displaying search results -->
  <div class="table-container">
    <h2>Search Result</h2>

   <table mat-table [dataSource]="dataSource">
     <!-- display columns -->
    <ng-container *ngFor="let column of displayedColumns"
                  [matColumnDef]="column">
      <th mat-header-cell
          *matHeaderCellDef
          [ngClass]="'table-header'">
        {{column | titlecase}}
      </th>
      <td mat-cell
          *matCellDef="let element">
        {{element[column]}}
      </td>
     </ng-container>

    <!-- set up header and row -->
    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
  </div>
</div>


